<nav class="navbar navbar-expand-sm bg-light">
  <!-- Brand -->
  <a class="navbar-brand" href="#">SAMRAJ</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Master</a>
      <div class="nav-sub-menu-1 bg-light">
        <ul>
          <li class="nav-item">
            <a class="nav-link" href="#">New Master Upload&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;</a>
            <div class="nav-sub-menu-2 bg-light">
              <ul>
                <li class="nav-item">
                  <a class="nav-link" href="#">Customer Master Upload</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Quality Master Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Excel Export</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Scrap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Item Image Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Administration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Master Entry</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Transaction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Inventry</a>
    </li>
  </ul>
</nav>
<br>