<div class="container">
    
    <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
      <i class="fas fa-plus"></i> New
    </a>
    
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <app-item-master-comp-upload></app-item-master-comp-upload>
    </div>
    <table class="table table-striped" style="margin-top: 10px">
      <thead>
          <th *ngFor="let field of visibleFields">
            {{field}}
          </th>
          <th></th>
          <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let data of gridData?.sheetContent">
          <td *ngFor="let field of visibleFields">
              {{data[fieldMapper[field]]}}
          </td>
          <td>
            <a href="#" class="btn btn-primary btn-sm">
              <i class="fas fa-edit"></i>
            </a>
          </td>
          <td>
            <a href="#" class="btn btn-danger btn-sm">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  
  