<div class="modal-dialog modal-xl">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Item Master - Component</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Customer Name</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Customer Name">
            </div>
            <div class="form-group col-md-3">
              <label for="inputPassword4">Customer Code</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Customer Code">
            </div>
            <div class="form-group col-md-3">
              <label for="inputPassword4">Item Code</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Item Code">
            </div>
            <div class="form-group col-md-3">
              <label for="inputPassword4">Description</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Description">
            </div>
          </div>

          <!--Row 2 -->
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Reference Standard</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Reference Standard">
            </div>
            <div class="form-group col-md-3">
              <label for="inputPassword4">Equivalent Samraj Item code</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Equivalent Samraj Item code">
            </div>
            <div class="form-group col-md-3">
              <label for="inputPassword4">Live/Retired</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Live/Retired">
            </div>
            <div class="form-group col-md-3">
              <label for="inputPassword4">Revision Level</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Revision Level">
            </div>
          </div>

          <!--Row 3 -->
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="inputEmail4">UOM</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="UOM">
            </div>
            <div class="form-group col-md-2">
              <label for="inputPassword4">SUOM</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="SUOM">
            </div>
            <div class="form-group col-md-2">
              <label for="inputPassword4">LC-1</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="LC-1">
            </div>
            <div class="form-group col-md-2">
              <label for="inputPassword4">LC-2</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="LC-2">
            </div>
            <div class="form-group col-md-4">
              <label for="inputPassword4">Process Revision Level</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Process Revision Level">
            </div>
          </div>

          <!--Row 4 -->
          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="inputEmail4">Process</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Process">
            </div>
            <div class="form-group col-md-5">
              <label for="inputPassword4">Machine</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Machine">
            </div>
            <div class="form-group col-md-2">
              <label for="inputPassword4">&nbsp;</label>
              <button type="button" class="form-control btn btn-primary">Add</button>
            </div>
          </div>

          <!--Row 5 -->
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="inputEmail4">Finish Type</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Finish Type">
            </div>
            <div class="form-group col-md-2">
              <label for="inputPassword4">Surface Preparation</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Surface Preparation">
            </div>
            <div class="form-group col-md-2">
              <label for="inputPassword4">Primer Colour</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Primer Colour">
            </div>
            <div class="form-group col-md-2">
              <label for="inputPassword4">Primer DFT</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Primer DFT">
            </div>
            <div class="form-group col-md-2">
              <label for="inputPassword4">IMO Colour</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="IMO Colour">
            </div>
            <div class="form-group col-md-2">
              <label for="inputPassword4">IMO DFT</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="IMO DFT">
            </div>
          </div>

          <!--Row 6 -->
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="inputEmail4">Top Coat Colour</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Top Coat Colour">
            </div>
            <div class="form-group col-md-2">
              <label for="inputPassword4">Top Coat DFT</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Top Coat DFT">
            </div>
            <div class="form-group col-md-2">
              <label for="inputPassword4">Special Finish details</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Special Finish details">
            </div>
            <div class="form-group col-md-2">
              <label for="inputPassword4">QUALITY FLAG</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="QUALITY FLAG">
            </div>
            <div class="form-group col-md-2">
              <label for="inputPassword4">Inspection Criteria</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Inspection Criteria">
            </div>
            <div class="form-group col-md-2">
              <label for="inputPassword4">Qty to be Inspected</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Qty to be Inspected">
            </div>
          </div>

          <!--Row 7 -->
          <div class="form-row custom-file mb-3">
            <input type="file" class="custom-file-input" id="imgFile" name="filename" >
            <label class="custom-file-label" for="imgFile">Choose file</label>
        </div>

        <!--Row 8 -->
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputPassword4">Remarks</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Remarks">
          </div>
        </div>

        <!--Row 9 -->
        <div class="form-row">
          <div class="form-group col">
            <label for="inputEmail4">Group Code</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Group Code">
          </div>
          <div class="form-group col">
            <label for="inputPassword4">Inventory code</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Inventory code">
          </div>
          <div class="form-group col">
            <label for="inputPassword4">Handling Person-1</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Handling Person-1">
          </div>
          <div class="form-group col">
            <label for="inputPassword4">Handling Person-2</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Handling Person-2">
          </div>
          <div class="form-group col">
            <label for="inputPassword4">CLASSIFICATION CODE</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="CLASSIFICATION CODE">
          </div>
        </div>

         <!--Row 10 -->
         <div class="form-row">
          <div class="form-group col">
            <label for="inputPassword4">Item Classification (2)</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Item Classification (2)">
          </div>
          <div class="form-group col">
            <label for="inputPassword4">Location of origin (2)</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Location of origin (2)">
          </div>
          <div class="form-group col">
            <label for="inputPassword4">Engineering issue level (2)</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Engineering issue level (2)">
          </div>
          <div class="form-group col">
            <label for="inputPassword4">Raw material Specifications(2)</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Raw material Specifications(2)">
          </div>         
        </div>

         <!--Row 11 -->
         <div class="form-row">
          <div class="form-group col">
            <label for="inputPassword4">Empty field-1</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Empty field-1">
          </div>
          <div class="form-group col">
            <label for="inputPassword4">Empty field-2</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Empty field-2">
          </div>
          <div class="form-group col">
            <label for="inputPassword4">Empty field-3</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Empty field-3">
          </div>
          <div class="form-group col">
            <label for="inputPassword4">Empty field-4</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Empty field-4">
          </div>   
          <div class="form-group col">
            <label for="inputPassword4">Empty field-5</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Empty field-5">
          </div>      
        </div>
        
          
        </form>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>